@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Basit Kitap Projesi</h1>
    <br />
    <p><img style="width:100%" src="~/img/library.jpg" /></p>
</div>
